<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type='text/css' href="/stylesheet/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<form action="/" method="post">
					<div class="input">
						<p>Amount</p>
						<input type="text" name="amount" value="<%= @amount %>" ></input>
					</div>
					<div class="source">
						<p>From</p>
						<select name="inputcur" >
							<% @currencies.each do |currency| %>
								<% if (currency==@from)%>
								<option value="<%= currency%>" selected  ><%= currency%></option>
								<% else%>
								<option value="<%= currency%>"  ><%= currency%></option>
								<% end%>
							<% end%>

						</select>
					</div>
					<div class="source">
							<p>To</p>
							<select name="outputcur" >
								<% @currencies.each do |currency| %>
									<% if (currency==@to)%>
									<option value="<%= currency%>" selected  ><%= currency%></option>
									<% else%>
									<option value="<%= currency%>"  ><%= currency%></option>
									<% end%>
							<% end%>
							</select>
	
					</div>
					<div class="apply">
						<button type="submit">submit </button>
					</div>
					</div>
				</form>
				<% if @output %>
				<div class="result">
						<div class="from">
							<p class="value">
								<%= @amount%>
							</p>
							<p class="currency">
								<%= @from %>
							</p>
						</div>
						<div class="to">
							<p class='value'>=</p>
						</div>
						<div class="destination">
							<p class="value">
								<%= @result%>
							</p>
							<p class="currency">
								<%= @to%>
							</p>
			
						</div>
				</div>
				<% end %>
				<div class='resultLink'>
					<a href='/result/'> results</a>
				</div>
			</div>
			
			
		</div>
		
		

	</body>
</html>